﻿@model LankaBookin.Models.Lb_City

@{
    ViewBag.Title = "City Details";
    if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<h2>Details</h2>

<fieldset>
    <legend>Lb_City</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.Label("District")
    </div>
    <div class="display-field">
         @Html.Label((string)ViewBag.District)
    </div>
   
</fieldset>
<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CityId })
        </div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
        </div>
</p>
