﻿@model IEnumerable<LankaBookin.Models.City>

@{
    ViewBag.Title = "City List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "CityName",
                rowsPerPage: 10);
}

<h2>@ViewBag.Title</h2>

<div class="clear-fix">&nbsp;</div>
<p class="btn btn-primary btn-success link-c-n">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid table table-striped table-bordered",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("CityName"),
            grid.Column("Description"),
            grid.Column(header:"District", format:@<text><div>@(item.District.DistrictName)</div></text>),
            grid.Column(header: "", format: item => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.Id } ).ToString())),
            grid.Column(header: "",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()) : Html.Raw(""))
        )
    )
</div>
