﻿@model LankaBookin.Models.Role

@{
    ViewBag.Title = "User Role Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>webpages_Roles</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleName)
    </div>

    <div class="display-label">
         @Html.Label("Users")
    </div>

    @foreach (var user in ViewBag.Users)
    {
        <div class="display-field">
            @Html.ActionLink((string)user.UserName, "Details","User", new {  id=user.Id  },null)
        </div>
    }

</fieldset>
<p>
        @if(User.IsInRole("SuperAdmin")){
            <div class="btn btn-primary link-c-n">
                @Html.ActionLink("Edit", "Edit", new {  id=Model.RoleId  })
                </div>
                }

                <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "Index")</div>
</p>
