﻿@model LankaBookin.Models.Role

@{
    ViewBag.Title = "Edit User Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>webpages_Roles</legend>

        @Html.HiddenFor(model => model.RoleId)

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
