﻿@model IEnumerable<LankaBookin.Models.Role>

@{
    ViewBag.Title = "User Role List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "RoleName",
                rowsPerPage: 10);
}

<h2>@ViewBag.Title</h2>

<div class="clear-fix">&nbsp;</div>
<p class="btn btn-primary btn-success link-c-n">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid table table-striped table-bordered",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("RoleName"),
            grid.Column(header: "", format: item => new HtmlString(Html.ActionLink("Details", "Details", new { id = item.RoleId } ).ToString())),
            grid.Column(header: "",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.RoleId } ).ToString()) : Html.Raw("")),
            grid.Column(header: "",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.RoleId } ).ToString()) : Html.Raw(""))
        )
    )
</div>

