﻿@model IEnumerable<LankaBookin.Models.Apartment>

        <script type="text/javascript">
            $(function () {
                $('.modal').click(function () {
                    $('#divInDialog').dialog({
                        close: function (event, ui) {
                            dialog.remove();
                        },
                        modal: true
                    }).load(this.href, {});

                    return false;
                });

                $('.selectAprt').click(function (e) {
                    var desId = '@ViewBag.DesId';
                    var ids = e.target.id;
                    var id = ids.substring(5);
                    $('#sa'+desId).val(id);
                    $.getJSON("/Apartment/GetApartmentName", { apartmentId: id },
                  function (data, status) {
                      $('#aprt_name' + desId).val(data.name);
                      if (data.isPerRoom) {
                          $('#price_des' + desId).text('Price per room');
                      }
                      else {
                          $('#price_des' + desId).text('Price per whole apartment');
                      }
                      $('#price' + desId).val(data.price);
                      $('#d' + desId).show();
                      $('#window').hide();
                  });
                });

            });
        </script>

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "Name",
                rowsPerPage: 20);
}

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid table table-striped table-bordered",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("Name"),
            grid.Column("Star"),
            grid.Column("Rate"),
            grid.Column("Address1"),
            grid.Column("Address2"),
            grid.Column("Description"),
            grid.Column(header:"IsPerRoom?", format:@<text><input type="checkbox" checked="@item.IsPerRoom" disabled="disabled" /></text>),
            grid.Column("RoomCount"),
            grid.Column("MaxHeadCount"),
            grid.Column(header:"City", format:@<text><div>@(item.City.CityName)</div></text>),
            grid.Column(header: "", format: item => new HtmlString(Html.ActionLink("Details", "DetailsPartial", new { id = item.Id }, new { @class = "modal" } ).ToString())),
            grid.Column(header:"", format:@<text><label class="selectAprt" id="saprt@(item.Id)"> Select apartment</label></text>)
        )
    )
</div>

<div id="divInDialog">

</div>
