﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Apartment Create";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Apartment", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lb_Apartment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Star)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Star)
            @Html.ValidationMessageFor(model => model.Star)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPerRoom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPerRoom)
            @Html.ValidationMessageFor(model => model.IsPerRoom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoomCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoomCount)
            @Html.ValidationMessageFor(model => model.RoomCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxHeadCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxHeadCount)
            @Html.ValidationMessageFor(model => model.MaxHeadCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityId, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId", String.Empty)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>

        <div>
            <label>Select Accomadation Type </label>
            @foreach (var item in ViewBag.AccomadationTypes)
            {
                <input type="checkbox" id="Acc@(item.Id)" name="Acc@(item.Id)" />
                @item.AccomadationName 
            }

        </div>

        <div>
            <label>Select Apartment Facilities </label>
            @foreach (var item in ViewBag.Facilities)
            {
                <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" />
                @item.FacilityName 
            }

        </div>

        <label for="file">Upload Images:(Maxmimum 15 images)</label> 
        <input type="file" multiple="multiple" name="files" id="files" style="width: 30%;" /> 
        @Html.ValidationMessage("upload")

        <p>
            <input id="save" type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

</script>


<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

