﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Apartment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Star)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Star)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPerRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPerRoom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxHeadCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxHeadCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityId)
    </div>
    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        <div class="btn btn-default b-l">
            @Html.ActionLink("Back to List", "Index")
            </div>
</p>
}
