﻿@model LankaBookin.Models.Apartment

        @{
            if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
            {
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
            }
        }

    <div id="wrapper">
		<!-- BEGIN PAGE TITLE/BREADCRUMB -->
		<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="page-title">Property Detail</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE TITLE/BREADCRUMB -->





























        <div class="content">
			<div class="container">
				<div class="row">
				
					<!-- BEGIN MAIN CONTENT -->
















					<div class="main col-sm-8">
					
						<h1 class="property-title">@Model.Name <small>@Model.Address1, @Model.Address2</small></h1>
						
						<div class="property-topinfo">
							<ul class="amenities">
								<li><i class="icon-apartment"></i> Apartment</li>
								<li><i class="icon-area"></i> 2150 Sq Ft</li>
								<li><i class="icon-bedrooms"></i> 4</li>
								<li><i class="icon-bathrooms"></i> 3</li>
							</ul>
						</div>

						<!-- BEGIN PROPERTY DETAIL SLIDERS WRAPPER -->
						<div id="property-detail-wrapper" class="style1">
							
							<div class="price">
								<i class="fa fa-home"></i>Rating
								<span>@Model.Rate</span>
							</div>
									
							<!-- BEGIN PROPERTY DETAIL LARGE IMAGE SLIDER -->
							<div id="property-detail-large" class="owl-carousel">
								<div class="item">
									<img src="@Url.Content("../../Images/Apartment/"+(string)@Model.Name+"/home.jpg")"/>
								</div>
								
								<div class="item">
		                    		<img src="@Url.Content("../../Images/Apartment/"+(string)@Model.Name+"/1.jpg")"/>
								</div>
								
								<div class="item">
									<img src="@Url.Content("../../Images/Apartment/"+(string)@Model.Name+"/2.jpg")"/>
								</div>
							</div>
							<!-- END PROPERTY DETAIL LARGE IMAGE SLIDER -->
							
							<!-- BEGIN PROPERTY DETAIL THUMBNAILS SLIDER -->
							<div id="property-detail-thumbs" class="owl-carousel">
								<div class="item"><img src="@Url.Content("../../Images/Apartment/"+(string)@Model.Name+"/home.jpg")"/></div>
								<div class="item"><img src="@Url.Content("../../Images/Apartment/"+(string)@Model.Name+"/1.jpg")"/></div>
								<div class="item"><img src="@Url.Content("../../Images/Apartment/"+(string)@Model.Name+"/2.jpg")"/></div>
							</div>
							<!-- END PROPERTY DETAIL THUMBNAILS SLIDER -->
						</div>

						@Html.DisplayFor(model => model.Description)
						
						
						<!-- BEGIN PROPERTY AMENITIES LIST -->
						<ul class="property-amenities-list col-md-4">
							<li class="enabled"> Security System </li>
							<li class="enabled"> Parking On Street </li>
							<li class="enabled"> Garage </li>
							<li class="enabled"> Internet </li>
							<li class="enabled"> Telephone </li>
							<li class="disabled"> Alarm Clock </li>
							<li class="disabled"> Water Cooler </li>
							<li class="enabled"> Air Conditioning </li>
							<li class="enabled"> Heating </li>
						</ul>
						
						<ul class="property-amenities-list col-md-4">
							<li class="enabled"> Washing Machine </li>
							<li class="disabled"> Clothes Dryer </li>
							<li class="enabled"> Fireplace </li>
							<li class="disabled"> Sofa Bed </li>
							<li class="enabled"> Dishwasher </li>
							<li class="enabled"> Refrigerator </li>
							<li class="disabled"> Freezer </li>
							<li class="enabled"> Oven </li>
							<li class="enabled"> Microwave </li>
						</ul>
						
						<ul class="property-amenities-list col-md-4">
							<li class="enabled"> Coffee Maker </li>
							<li class="enabled"> Toaster </li>
							<li class="disabled"> Ice Maker </li>
							<li class="enabled"> Stove </li>
							<li class="enabled"> Dishes & Utensils </li>
							<li class="enabled"> Satellite / Cable TV  </li>
							<li class="enabled"> Balcony </li>
							<li class="disabled"> Deck / Patio </li>
							<li class="enabled"> Outdoor Grill </li>
						</ul>
						<!-- END PROPERTY AMENITIES LIST -->
						
						
						<h1 class="section-title">Property Features</h1>
						<!-- BEGIN PROPERTY FEATURES LIST -->
						<ul class="property-features col-sm-6">
							<li><i class="icon-garage"></i> Garage for 2 cars</li>
							<li><i class="icon-pool"></i> Outdoor Pool</li>
							<li><i class="icon-garden"></i> 850 Sq Ft Garden</li>
							<li><i class="icon-security"></i> Security System Installed</li>
						</ul>
						
						<ul class="property-features col-sm-6">
							<li><i class="icon-sale-sign"></i> This property is for sale</li>
							<li><i class="icon-house-usd"></i> Flexible Payments</li>
							<li><i class="icon-rooms"></i> 3 Bedrooms and 2 Bathrooms</li>
							<li><i class="icon-pets"></i> Pets Allowed</li>
						</ul>
						<!-- END PROPERTY FEATURES LIST -->
						
						
			

                        <fieldset>
                            <legend>Lb_Apartment</legend>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Name)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Name)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Star)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Star)
                            </div>

                            <div class="display-label">
                                @Html.DisplayName("Price")
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Price)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Rating)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Rating)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Address1)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Address1)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.Address2)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Address2)
                            </div>

                            @*<div class="display-label">
                                @Html.DisplayNameFor(model => model.Description)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.Description)
                            </div>*@

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.City.CityName)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.City.CityName)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.RoomCount)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.RoomCount)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.IsPerRoom)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.IsPerRoom)
                            </div>

                            <div class="display-label">
                                @Html.DisplayNameFor(model => model.MaxHeadCount)
                            </div>
                            <div class="display-field">
                                @Html.DisplayFor(model => model.MaxHeadCount)
                            </div>


                        </fieldset>
                        <p>
                            <div class="btn btn-primary link-c-n">
                                @Html.ActionLink("Add to Wish List", "WishList", new { id = Model.Id })
                            </div>

                            <div class="btn btn-primary link-c-n">
                                @Html.ActionLink("Book", "Create", "BookingRequest", new { id = Model.Id }, null)
                            </div>

                            <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "Search")</div>
                        </p>
		
						
					</div>	
					<!-- END MAIN CONTENT -->






                </div>
			</div>
		</div>
    </div>


