﻿@model LankaBookin.Models.Apartment

<fieldset>
    <legend>Apartment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Star)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Star)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsPerRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPerRoom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxHeadCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxHeadCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City.CityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.CityName)
    </div>
    
</fieldset>

