﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Apartment", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Apartment</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Star)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Star)
            @Html.ValidationMessageFor(model => model.Star)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rate)
            @Html.ValidationMessageFor(model => model.Rate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address1)
            @Html.ValidationMessageFor(model => model.Address1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address2)
            @Html.ValidationMessageFor(model => model.Address2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPerRoom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPerRoom)
            @Html.ValidationMessageFor(model => model.IsPerRoom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoomCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoomCount)
            @Html.ValidationMessageFor(model => model.RoomCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxHeadCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxHeadCount)
            @Html.ValidationMessageFor(model => model.MaxHeadCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CityId)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>

        <div>
            <label>Select Accomadation Type </label>
            @foreach (var accomadationType in ViewBag.AccomadationTypes)
            {
                <input type="checkbox" name="selectedAccomadationTypes" id="Acc@(accomadationType.Id)" value="@(accomadationType.Id)" @(Html.Raw(accomadationType.Apartments.Contains(Model) ? "checked=\"checked\"" : "")) />
                @accomadationType.AccomadationName 
            }

        </div>

        <div>
            <label>Select Apartment Facilities </label>
            @foreach (var facility in ViewBag.Facilities)
            {
                <div>
                <input type="checkbox" name="selectedFacilities" id="Fac@(facility.Id)" value="@(facility.Id)"  @(Html.Raw(facility.Apartments.Contains(Model) ? "checked=\"checked\"" : "")) />
                @facility.FacilityName 
                    </div>
            }

        </div>

        <label for="file">Upload Images:(Maxmimum 15 images)</label> 
        <input type="file" multiple="multiple" name="files" id="files" style="width: 30%;" /> 
        @Html.ValidationMessage("upload")

        @{
            int counter = 1;
        }

        @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name), "*.jpg"))
        {
            var img = new FileInfo(imgPath);
            <img class="img" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}",Model.Name, img.Name))" id="img@(counter)" width="100" height="100" />
            counter++;
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(function () {
        $('.img').click(function (event) {
            if (confirm('Are you sure you want to delete this image')) {
                var item = $(event.target).attr('src')
                var id = event.target.id;
                $.getJSON("/Apartment/DeleteImage", { imagePath: item },
                  function (data, status) {
                      $('#' + id).hide();
                  }
                );
            }
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
