﻿@model IEnumerable<LankaBookin.Models.Apartment>
@using GridMvc.Html

@{
    ViewBag.Title = "Apartment List";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Index</h2>

<div class="clear-fix">&nbsp;</div>
<p class="btn btn-primary btn-success link-c-n">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Rate).Titled("Rating").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.City.CityName).Titled("City").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("VIEW", "InternalDetails", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("EDIT", "Edit", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("DELETE", "Delete", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(1)

    
              