﻿@model LankaBookin.Models.Apartment

@{
    ViewBag.Title = "InternalDetails";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>InternalDetails</h2>

<fieldset>
    <legend>Apartment</legend>

    @{
        int counter = 1;
    }

    @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + Model.Name), "*.jpg"))
    {
        var img = new FileInfo(imgPath);
        <img class="img" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", Model.Name, img.Name))" id="img@(counter)" width="100" height="100" />
        counter++;
    }

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Star)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Star)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Rate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.IsPerRoom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsPerRoom)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RoomCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.MaxHeadCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxHeadCount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityId)
    </div>

    <div>
        <label>Apartment Facilities </label>
        @foreach (var facility in Model.Facilities)
        {
            <div>
                @facility.FacilityName
            </div>
        }

    </div>

    <div>
        <label>Apartment Accomadations </label>
        @foreach (var acc in Model.Accomadations)
        {
            <div>
                @acc.AccomadationName
            </div>
        }

    </div>

</fieldset>
<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
    </div>
</p>
