﻿@model IEnumerable<LankaBookin.Models.Apartment>
@using GridMvc.Html

<!-- BEGIN PAGE TITLE/BREADCRUMB -->
<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Property Listing</h1>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home </a></li>
                    <li><a href="#">Properties</a></li>
                    <li><a href="properties-list.html">Property Listing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE TITLE/BREADCRUMB -->

<div class="content">
    <div class="container">
        <div class="row">



            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-8">

                <div id="listing-header" class="clearfix">
                    <div class="form-control-small">
                        <select id="sort_by" name="sort_by" data-placeholder="Sort">
                            <option value=""></option>
                            <option value="data">Sort by Date</option>
                            <option value="area">Sort by Area</option>
                        </select>
                    </div>

                    <div class="sort">
                        <ul>
                            <li class="active"><i data-toggle="tooltip" data-placement="top" title="Sort Descending" class="fa fa-chevron-down"></i></li>
                            <li><i data-toggle="tooltip" data-placement="top" title="Sort Ascending" class="fa fa-chevron-up"></i></li>
                        </ul>
                    </div>

                    <div class="view-mode">
                        <span>View Mode:</span>
                        <ul>
                            <li data-view="grid-style1" data-target="property-listing"><i class="fa fa-th"></i></li>
                            <li data-view="list-style" data-target="property-listing" class="active"><i class="fa fa-th-list"></i></li>
                        </ul>
                    </div>
                </div>

                
@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Name).Titled("Apartment Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Rate).Titled("Rating").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.City.CityName).Titled("City").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("VIEW", "InternalDetails", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("EDIT", "Edit", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("DELETE", "Delete", "Apartment", new { id = o.Id, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)


                <!-- BEGIN PROPERTY LISTING -->
                <div id="property-listing" class="list-style clearfix">
                    <div class="row">

                        @foreach (var item in Model)
                        {

                            <div class="item col-md-4">
                                <!-- Set width to 4 columns for grid view mode only -->
                                <div class="image">
                                    <a href="@Url.Action("Details", "Apartment", new { id = item.Id })" class="info">
                                        <h3>Details</h3>
                                    </a>

                                    @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Images/Apartment/" + item.Name), "*.jpg"))
                                    {
                                        var img = new FileInfo(imgPath);
                                        <img class="img" src="@Url.Content(String.Format("~/Images/Apartment/{0}/{1}", item.Name, img.Name))" width="100" height="100" />
                                        break;
                                    }

                                </div>
                                <div class="price">
                                    <i class="fa fa-home"></i>User Rating
                                    <span>@item.Rate</span>
                                </div>
                                <div class="info">
                                    <h3>
                                        <a href="properties-detail.html">@item.Name</a>
                                        <small>@item.Address1+ @item.Address2</small>
                                    </h3>
                                    <p>@item.Description</p>

                                    <ul class="amenities">
                                        <li><i class="icon-area"></i>2150 Sq Ft</li>
                                        <li><i class="icon-bedrooms"></i>4</li>
                                        <li><i class="icon-bathrooms"></i>3</li>
                                    </ul>
                                </div>
                            </div>

                        }

                    </div>
                </div>
                <!-- END PROPERTY LISTING -->
                <!-- BEGIN PAGINATION -->
                <div class="pagination">
                    <ul id="previous">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    </ul>
                    <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                    <ul id="next">
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
                <!-- END PAGINATION -->

            </div>
            <!-- END MAIN CONTENT -->
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar gray col-sm-4">

                <!-- BEGIN ADVANCED SEARCH -->
                <h2 class="section-title">Search Property</h2>
                @using (Html.BeginForm("Search", "Apartment"))
                {
                    <div class="form-group">



                        <div class="col-sm-12 m-b">

                            @Html.TextBox("search", "Search", htmlAttributes: new { @class = "form-control" })

                            @Html.TextBox("checkin", "Checkin", htmlAttributes: new { @class = "form-control" })

                            @Html.TextBox("checkout", "Checkout", htmlAttributes: new { @class = "form-control" })

                            @Html.DropDownList("search_prop_type", (SelectList)ViewBag.AccomadationTypes, "Type of Property", htmlAttributes: new { @class = "col-sm-12" })

                            <div>

                                @foreach (var item in ViewBag.Facilities)
                                {
                                    <input type="checkbox" id="Fac@(item.Id)" name="Fac@(item.Id)" />
                                    @item.FacilityName
                                    <br />
                                }

                            </div>
                        </div>

                        <div class="col-md-6">
                            <select id="search_minprice" name="search_minprice" data-placeholder="Min. Price">
                                <option value=""></option>
                                <option value="0">$0</option>
                                <option value="25000">$25000</option>
                                <option value="50000">$50000</option>
                                <option value="75000">$75000</option>
                                <option value="100000">$100000</option>
                                <option value="150000">$150000</option>
                                <option value="200000">$200000</option>
                                <option value="300000">$300000</option>
                                <option value="500000">$500000</option>
                                <option value="750000">$750000</option>
                                <option value="1000000">$1000000</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <select id="search_maxprice" name="search_maxprice" data-placeholder="Max. Price">
                                <option value=""></option>
                                <option value="25000">$25000</option>
                                <option value="50000">$50000</option>
                                <option value="75000">$75000</option>
                                <option value="100000">$100000</option>
                                <option value="150000">$150000</option>
                                <option value="200000">$200000</option>
                                <option value="300000">$300000</option>
                                <option value="500000">$500000</option>
                                <option value="750000">$750000</option>
                                <option value="1000000">$1000000</option>
                                <option value="1000000plus">>$1000000</option>
                            </select>

                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default-color">Search</button>
                        </div>

                    </div>
                }
                <!-- END ADVANCED SEARCH -->

            </div>
            <!-- END SIDEBAR -->

        </div>
    </div>
</div>


