﻿@model LankaBookin.Models.Tour

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create New Tour</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lb_Tour</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TourName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TourName)
            @Html.ValidationMessageFor(model => model.TourName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Steps)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Steps, new { placeholder  = "Steps" })
            @Html.ValidationMessageFor(model => model.Steps)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.Label("Select Category")
        </div>

        <div class="editor-field">
            @Html.DropDownList("CategoryTypes", String.Empty)
        </div>

        <div class="editor-label">
             @Html.Label("Select City")
         </div>

        <div id="destinationList"></div>

        <div class="editor-field" id="destination">
            @Html.DropDownList("Cities", String.Empty)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

        <script type="text/javascript">
            $("#Steps").keyup(function () {
                $("#destinationList").contents().remove();
                for (var i = 1; i < $("#Steps").val(); i++) {
                    $("#destination").clone().prependTo("#destinationList");
                }
            });
        </script>

<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
