﻿@model LankaBookin.Models.Tour

@{
    ViewBag.Title = "Tour Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Lb_Tour</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.Label("Tour Destinations")
    </div>

    @foreach (var item in ViewBag.Destinations)
    {
        @item.CityName
    }

</fieldset>
<p>
    <div class="btn btn btn-info link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
        </div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
        </div>
</p>
