﻿@model IEnumerable<LankaBookin.Models.Tour>

@{
    ViewBag.Title = "PublicTourList";
}

<h2>PublicTourList</h2>

<table class="grid table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "PublicDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>
