﻿@model LankaBookin.Models.Tour

@{
    ViewBag.Title = "PublicDetails";
}

<h2>PublicDetails</h2>

<fieldset>
    <legend>Tour</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.Label("Tour Destinations")
    </div>

    @foreach (var item in ViewBag.Destinations)
    {
        <div class="display-label">
        @item.CityName
        </div>
    }

    
</fieldset>
<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Create Tour Request", "Create", "TourRequest", new { tourId = Model.Id }, null)
        </div>
    <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "PublicTourList")</div>
</p>
