﻿@model LankaBookin.Models.AccomadationType

@{
    ViewBag.Title = "Create Accomadation Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lb_AccomadationType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccomadationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccomadationName)
            @Html.ValidationMessageFor(model => model.AccomadationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
