﻿@model LankaBookin.Models.AccomadationType

@{
    ViewBag.Title = "Delete Accomadation Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Lb_AccomadationType</legend>

    @Html.HiddenFor(model => model.Id)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccomadationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccomadationName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "Index")</div>
</p>
}
