﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Create Tour Request";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lb_TourRequest</legend>

        <div class="editor-label">
            @Html.Label("Tour")
        </div>
        <div class="editor-field">
            @Html.Label((String)ViewBag.Tour.TourName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration,"Total Tour Duration")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        @{int flag = 1;}

        @foreach (var item in ViewBag.Tour.TourDestination)
        {
            <div id="des@(flag)">

                <div class="editor-label">
                    @Html.Label("Destination")
                </div>
                <div class="editor-field">
                    @Html.Label((string)item.City.CityName)
                </div>

                <div class="editor-label">
                    @Html.Label("Chekin Date")
                </div>

                <div class="editor-field">
                    @Html.Editor("Checkin"+flag)
                </div>

                <div class="editor-label">
                    @Html.Label("Checkout Date")
                </div>

                <div class="editor-field">
                    @Html.Editor("Checkout"+flag)
                </div>

                <label class="apartment" id="a@(flag)">Select Apartment</label>

                <div id="d@(flag)" class="selectedApartments">
                    <label>Selected Apartemnt</label>
                      <input type="text" class="aprt_id" id="sa@(flag)" name="sa@(flag)" style="visibility:collapse"/>
                      <input type="text" id="aprt_name@(flag)" name="aprt_name@(flag)"/>
                      <label id="price_des@(flag)"></label>
                      <input type="text" id="price@(flag)" name="price@(flag)"/>
                </div>

            </div>
            
                  flag++;
        }

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Tour List", "PublicTourList", "Tour", new { categoryId = Session[LankaBookin.Common.SessionVariables.CategoryId.ToString()] }, null)
</div>

<div id="window">


</div>

<script type="text/jscript"> 

$(document).ready(function(){
    $(".apartment").click(function (event) {
        var ids = event.target.id;
        var id = ids.substring(1);
        var check = $("#Checkin"+id).val();
        var checko = $("#Checkout"+id).val();
        $('#window').load('../Apartment/ApartmentList', { checkin: check, checkout: checko, desId: id });
        $('#window').show();
    });

    $('.selectedApartments').hide();
});

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
