﻿@model LankaBookin.Models.Lb_TourRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Lb_TourRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TourRequestId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TourRequestId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_Category.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_Category.Category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_Tour.Tour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_Tour.Tour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deleted)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        <div class="btn btn-default b-l">
            @Html.ActionLink("Back to List", "Index")
            </div>
</p>
}
