﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Lb_TourRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_Tour.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_Tour.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

</fieldset>

<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
        </div>
</p>
