﻿@model IEnumerable<LankaBookin.Models.TourRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="clear-fix">&nbsp;</div>
<p class="btn btn-primary btn-success link-c-n">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="grid table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lb_Tour.TourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lb_Tour.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <div class="btn btn-primary link-c-n">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>
                <div class="btn btn btn-info link-c-n">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <div class="btn btn-danger link-c-n">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                    }

</td>
        </tr>
    }

</table>
