﻿@model LankaBookin.Models.UserWishList

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Lb_UserWishList</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_User.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        <div class="btn btn-default b-l">
            @Html.ActionLink("Back to List", "Index")</div>
}
