﻿@model LankaBookin.Models.UserWishList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Lb_UserWishList</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_User.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>

</fieldset>
<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ })
        </div>
    <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "Index")</div>
</p>
