﻿@model IEnumerable<LankaBookin.Models.UserWishList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Index</h2>

    @foreach (var item in Model)
    {
        @Html.ActionLink(@item.Apartment.Name, "Details","Apartment",new {  id=item.ApartmentId  },null)
        <br />
        <pre>
            @item.Apartment.Description
        </pre>
        <br />
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        <br />
    }

