﻿@model LankaBookin.Models.District

@{
    ViewBag.Title = "District Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Details</h2>

<fieldset>
    <legend>Lb_District</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistrictName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.Label("Cities")
    </div>

    @foreach (var city in ViewBag.City)
    {
        <div class="display-field">
            @Html.ActionLink((string)@city.City, "Details","City", new { id=city.Id  },null)
        </div>
    }
   
</fieldset>
<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
        </div>
</p>
