﻿@model LankaBookin.Models.District

@{
    ViewBag.Title = "Edit District";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Lb_District</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Deleted)

        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DistrictName)
            @Html.ValidationMessageFor(model => model.DistrictName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
