﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TourRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_Tour.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_Tour.TourName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        <div class="btn btn-default b-l">
            @Html.ActionLink("Back to List", "Index")
            </div>
</p>
}
