﻿@model LankaBookin.Models.TourRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TourRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lb_Tour.TourName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lb_Tour.TourName)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Duration,"Total Duration")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>

    <label>Destnations</label>

    @foreach (var item in Model.Lb_TourDestinationRequest)
    {
        <div>
            <div class="display-label">
                 <label>City </label>
            </div>
            <div class="display-field">
                @item.Lb_City.CityName
            </div>
        </div>
        
        <div>
            <div class="display-label">
                 <label>Apartment </label>
            </div>
            <div class="display-field">
                @item.Lb_BookingRequest.Apartment.Name
            </div>
        </div>
        
        <div>
            <div class="display-label">
                 <label>Amount </label>
            </div>
            <div class="display-field">
                @item.Lb_BookingRequest.Price
            </div>
        </div>
        
        <div>
            <div class="display-label">
                 <label>Checkin Date </label>
            </div>
            <div class="display-field">
                @item.Lb_BookingRequest.CheckIn
            </div>
        </div>
        
        <div>
            <div class="display-label">
                 <label>Checkout Date </label>
            </div>
            <div class="display-field">
                @item.Lb_BookingRequest.CheckOut
            </div>
        </div>
        
        if (item.Lb_BookingRequest.Apartment.IsPerRoom)
        {
            <div>
                <div class="display-label">
                     <label>No of Rooms </label>
                </div>
                <div class="display-field">
                    @item.Lb_BookingRequest.RoomsBooked
                </div>
            </div>
        }
    }
    
</fieldset>
<p>
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "Index")</div>
</p>
