﻿@model IEnumerable<LankaBookin.Models.TourRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<table class="grid table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lb_Tour.TourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lb_Tour.TourName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @*            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) *@
                <div class="btn btn btn-info link-c-n">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </div>

                                @if (User.IsInRole("SuperAdmin"))
                {
                                    <div class="btn btn-danger link-c-n">
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </div>
                                        }
</td>
        </tr>
    }

</table>
