﻿@model IEnumerable<LankaBookin.Models.Facility>

@{
    ViewBag.Title = "Facility List";
    if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<h2>Index</h2>

<div class="clear-fix">&nbsp;</div>
<p class="btn btn-primary btn-success link-c-n">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="grid table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="btn btn-primary link-c-n">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    </div>

                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <div class="btn btn-danger link-c-n">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                    }
</td>
        </tr>
    }

</table>
