﻿@model LankaBookin.Models.RoomsBook

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RoomsBook</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomCount)
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> 
        <div class="btn btn-default b-l">
            @Html.ActionLink("Back to List", "Index")
            </div>
</p>
}
