﻿@{
    ViewBag.Title = "About";
}
<div class="parallax colored-bg pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">About Us</h1>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home </a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-12">

        <!-- BEGIN HIGHLIGHT -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="main col-sm-6">
                        <div class="center">
                            <h2 class="section-highlight" data-animation-direction="from-left" data-animation-delay="50">Cozy it's a clean and modern Real Estate Template!</h2>
                            <p class="darker-text" data-animation-direction="from-left" data-animation-delay="250">Very professional and highly customizable html5 template with lots of custom pages and useful features.</p>
                            <p data-animation-direction="from-left" data-animation-delay="650">Mauris hendrerit risus a arcu dapibus varius. Quisque dictum, erat molestie vehicula pellentesque, enim elit sodales leo, id pharetra mi tortor at tellus. Etiam ornare, enim at tincidunt congue, nibh dui suscipit augue, pellentesque hendrerit ligula lorem vehicula sapien. Nunc aliquet pulvinar porta. Sed et ligula at lacus posuere convallis ornare, enim at tincidunt congue, nibh dui suscipit augue.</p>
                            <br />
                            <a href="#" class="btn btn-default-color" data-animation-direction="from-left" data-animation-delay="850">Buy Cozy Template!</a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <img id="about-img" src="http://placehold.it/670x592" alt="" data-animation-direction="from-right" data-animation-delay="200" />
                    </div>
                </div>
            </div>
        </div>
        <!-- END HIGHLIGHT -->
        <!-- BEGIN SERVICES -->
        <div class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Work With Cozy Real-Estate</h1>

                        <ul class="services">
                            <li class="col-md-3" data-animation-direction="from-bottom" data-animation-delay="250">
                                <h3><i class="fa fa-tags"></i> Sell or rent a property</h3>
                                <p>Quisque dictum, erat molestie vehicula pellentesque, enim elit sodales leo id pharetra. <a href="#">Learn more</a></p>
                            </li>
                            <li class="col-md-3" data-animation-direction="from-bottom" data-animation-delay="450">
                                <h3><i class="fa fa-search"></i> Find a property</h3>
                                <p>Quisque dictum, erat molestie vehicula pellentesque, enim elit sodales leo id pharetra. <a href="#">Learn more</a></p>
                            </li>
                            <li class="col-md-3" data-animation-direction="from-bottom" data-animation-delay="650">
                                <h3><i class="fa fa-building"></i> Work with our team</h3>
                                <p>Quisque dictum, erat molestie vehicula pellentesque, enim elit sodales leo id pharetra. <a href="#">Learn more</a></p>
                            </li>
                            <li class="col-md-3" data-animation-direction="from-bottom" data-animation-delay="850">
                                <h3><i class="fa fa-group"></i> Become a partner</h3>
                                <p>Quisque dictum, erat molestie vehicula pellentesque, enim elit sodales leo id pharetra. <a href="#">Learn more</a></p>
                            </li>
                        </ul>

                        <div class="center">
                            <a href="register.html" class="btn btn-default-color" data-animation-direction="from-bottom" data-animation-delay="1050">Register Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SERVICES -->



       
        <!-- BEGIN PARTNERS WRAPPER -->
        <div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Our Partners</h1>

                        <div id="partners">
                            <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
                                <a href="#"><img src="http://placehold.it/194x45" alt="" onmouseover="this.src='http://placehold.it/194x45';" onmouseout="this.src='http://placehold.it/194x45';" /></a>
                            </div>
                            <div class="item" data-animation-direction="from-bottom" data-animation-delay="450">
                                <a href="#"><img src="http://placehold.it/194x45" alt="" onmouseover="this.src='http://placehold.it/194x45';" onmouseout="this.src='http://placehold.it/194x45';" /></a>
                            </div>
                            <div class="item" data-animation-direction="from-bottom" data-animation-delay="650">
                                <a href="#"><img src="http://placehold.it/194x45" alt="" onmouseover="this.src='http://placehold.it/194x45';" onmouseout="this.src='http://placehold.it/194x45';" /></a>
                            </div>
                            <div class="item" data-animation-direction="from-bottom" data-animation-delay="850">
                                <a href="#"><img src="http://placehold.it/194x45" alt="" onmouseover="this.src='http://placehold.it/194x45';" onmouseout="this.src='http://placehold.it/194x45';" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PARTNERS WRAPPER -->
    </div>
</div>