﻿@{
    ViewBag.Title = "Lanka Bookin";
}
<!-- SLIDER -->


<div class="slider-1 clearfix">

    <div class="flex-container">
        <div class="flexslider loading">
            <ul class="slides">
                <li style="background: url(../../Images/slider/slider-bg-01.jpg) no-repeat; background-position: 50% 0">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 contain">

                                <h2 data-toptitle="23%">Plan Your Holiday With</h2>
                                <p data-bottomtext="53%">Lanka BookIn</p>
                                <div class="links" data-bottomlinks="47%">
                                    <a href="page-details.html">Start from <span>$198</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Container -->

                </li>
                <!-- End item -->




            </ul>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="trip-search">
                    <ul class="tabs">
                        <li><a href="#hotel-tab"><i class="icon-building"></i>Your Best Holiday Destination</a></li>
                    </ul>
                    <div class="tab_container">
                        <div id="hotel-tab" class="tab_content trip-form1">

                            @using (Html.BeginForm("Search", "Apartment"))
                            {
                                <div class="normal">
                                    <div class="form-group">
                                        <label for="where-hotel">Search <span class="star"></span></label>
                                        @Html.TextBox("search", "Search", htmlAttributes: new { @class = "form-control" })

                                    </div>
                                </div>
                                <div class="datepicker-wrapper">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="check-in-hotel">Check-in <span class="star"></span></label>
                                        @Html.TextBox("checkin", "checkin", htmlAttributes: new { @class = "form-control date hasDatepicker" })
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                                <div class="datepicker-wrapper no-rs-mr">
                                    <div class="form-group datepicker-wrapper">
                                        <label for="check-out-hotel">Check-out <span class="star"></span></label>
                                        @Html.TextBox("checkout", "Checkout", htmlAttributes: new { @class = "form-control date hasDatepicker" })
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>

                                <div class="link">
                                    <a href="@Url.Action("Search", "Apartment")" class="advanced-search">Advanced Search</a>
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <i class="icon-search icon-flip-horizontal"></i>Search
                                    </button>
                                </div>
                            }

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax pattern-bg clearfix" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Available Tour Categories</h1>

                <div id="new-properties-slider" class="owl-carousel carousel-style1">

                    @foreach (var item in ViewBag.Category)
                    {
                        <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
                            <div class="image">
                                <a href="@Url.Action("PublicTourList", "Tour", new { categoryId = item.Id })" class="info">
                                    <h3>@item.CategoryName</h3>
                                </a>
                                <img src="@Url.Content("../../Images/Category/" + (string)item.CategoryName + ".jpg")" />
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>




<!-- BEGIN PROPERTIES SLIDER WRAPPER-->
<div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">New Properties Available</h1>

                <div id="property-gallery" class="owl-carousel carousel-style1">


                    <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
                        <div class="image">
                            <a href="properties-detail.html" class="info">
                                <h3>Luxury Apartment with great views</h3>
                                <span class="location">Upper East Side, New York</span>
                            </a>
                            <img src="~/Images/Apartment/Stunning Satori Villa/home.jpg" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>For Sale
                            <span>$950,000</span>
                        </div>
                        <ul class="amenities">
                            <li><i class="icon-area"></i>2150 Sq Ft</li>
                            <li><i class="icon-bedrooms"></i>4</li>
                            <li><i class="icon-bathrooms"></i>3</li>
                        </ul>
                    </div>

                    <div class="item" data-animation-direction="from-bottom" data-animation-delay="650">
                        <div class="image">
                            <a href="properties-detail.html" class="info">
                                <h3>Recent construction with 3 bedrooms</h3>
                                <span class="location">Park Slope, New York</span>
                            </a>
                            <img src="~/Images/Apartment/Test 02/home.jpg" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>For Sale
                            <span>$560,000</span>
                        </div>
                        <ul class="amenities">
                            <li><i class="icon-area"></i>1800 Sq Ft</li>
                            <li><i class="icon-bedrooms"></i>3</li>
                            <li><i class="icon-bathrooms"></i>2</li>
                        </ul>
                    </div>

                    <div class="item" data-animation-direction="from-bottom" data-animation-delay="850">
                        <div class="image">
                            <a href="properties-detail.html" class="info">
                                <h3>Modern construction with parking space</h3>
                                <span class="location">Midtown, New York</span>
                            </a>
                            <img src="~/Images/Apartment/Test 03/home.jpg" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>For Rent
                            <span>$850</span>
                        </div>
                        <ul class="amenities">
                            <li><i class="icon-area"></i>1300 Sq Ft</li>
                            <li><i class="icon-bedrooms"></i>1</li>
                            <li><i class="icon-bathrooms"></i>2</li>
                        </ul>
                    </div>

                    <div class="item">
                        <div class="image">
                            <a href="properties-detail.html" class="info">
                                <h3>Single Family Townhouse</h3>
                                <span class="location">Cobble Hill, New York</span>
                            </a>
                            <img src="~/Images/Apartment/Test 04/home.jpg" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>For Sale
                            <span>$846,000</span>
                        </div>
                        <ul class="amenities">
                            <li><i class="icon-area"></i>1580 Sq Ft</li>
                            <li><i class="icon-bedrooms"></i>2</li>
                            <li><i class="icon-bathrooms"></i>2</li>
                        </ul>
                    </div>

                    <div class="item">
                        <div class="image">
                            <a href="properties-detail.html" class="info">
                                <h3>3 bedroom villa with garage for rent</h3>
                                <span class="location">Bal Harbour, Florida</span>
                            </a>
                            <img src="~/Images/Apartment/Test 05/home.jpg" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>For Rent
                            <span>$1500</span>
                        </div>
                        <ul class="amenities">
                            <li><i class="icon-area"></i>2000 Sq Ft</li>
                            <li><i class="icon-bedrooms"></i>3</li>
                            <li><i class="icon-bathrooms"></i>2</li>
                        </ul>
                    </div>

                    <div class="item">
                        <div class="image">
                            <a href="properties-detail.html" class="info">
                                <h3>Luxury Condo with 2 bedroms</h3>
                                <span class="location">Brooklyn Heights, New York</span>
                            </a>
                            <img src="~/Images/Apartment/Test 06/home.jpg" alt="" />
                        </div>
                        <div class="price">
                            <i class="fa fa-home"></i>For Sale
                            <span>$2,120,000</span>
                        </div>
                        <ul class="amenities">
                            <li><i class="icon-area"></i>3120 Sq Ft</li>
                            <li><i class="icon-bedrooms"></i>4</li>
                            <li><i class="icon-bathrooms"></i>2</li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PROPERTIES SLIDER WRAPPER -->

<script>
    $(function () {

        if (jQuery.ui) {
            alert('d');
        }

        $("#checkin").datepicker();
        $("#checkout").datepicker();
    });
</script>




