﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lanka Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/signin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/cozy-real-estate-font.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/fav_touch_icons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/fav_touch_icons/apple-touch-icon-114x114.png" />

    <!--google font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>


    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />

    <!-- Template CSS -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Scripts/modernizr-2.8.1.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")



</head>
<body>
    <header id="header">
        <div id="wrapper">

            <div class="navbar-inner">
                <div class="container">
                    <div class="col-md-6">
                        <a class="brand" href="index.html">
                            <img src="../../Images/logo.png" alt="Lanka Booking Logo" />
                        </a>

                    </div>

                    <div class="col-md-6  text-right" id="login">
                        <ul class="nav">
                            <li class="top-info">
                                <ul id="top-info">
                                    @Html.Partial("_LoginPartial")
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="navbar-wrapper navbar-inverse" id="nav-section">
                <nav class="navbar navbar-inverse navbar-static-top f-l">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav" id="menu">

                                <li>@Html.ActionLink("User", "Index", "User")</li>
                                <li>@Html.ActionLink("UserRoles", "Index", "UserRole")</li>
                                <li>@Html.ActionLink("Apartments", "Index", "AdminApartment")</li>
                                <li>@Html.ActionLink("Districts", "Index", "District")</li>
                                <li>@Html.ActionLink("Cities", "Index", "City")</li>
                                <li>@Html.ActionLink("Category", "Index", "Category")</li>
                                <li>@Html.ActionLink("Tour", "Index", "Tour")</li>
                                <li>@Html.ActionLink("AccomadationType", "Index", "AccomadationType")</li>
                                <li>@Html.ActionLink("Facilities", "Index", "Facility")</li>
                                <li>@Html.ActionLink("Booking Requests", "Index", "AdminBookingRequest")</li>

                            </ul>
                        </div>
                    </div>


            </div>
            </div>
    </header>
    <div class="clear-fix"></div>
    <div id="body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
            <footer id="footer">
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Lanka Booking</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
