﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lanka Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />



    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/jquery.flexslider.js"></script>
    <script src="~/Scripts/flex-slider.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/signin.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/features.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/signin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/fav_touch_icons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/fav_touch_icons/apple-touch-icon-114x114.png" />




    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />

    <!-- Template CSS -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Scripts/modernizr-2.8.1.min.js"></script>

        @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")




</head>
<body>
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">

        <!-- BEGIN HEADER -->



        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<ul id="top-info">
                                <li>Phone: 800-123-4567</li>
                                <li>Email: <a href="mailto:hello@yourcompany.com">hello@yourcompany.com</a></li>
                            </ul>-->

                            <ul id="top-buttons">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="index.html" class="nav-logo"><img src="~/Images/logo.png" alt="Lanka Bookin" /></a>

                            <!-- BEGIN MAIN MENU -->
                            <nav class="navbar">
                                <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                   
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-hover="dropdown">About Us<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                  
                                            
                                        </ul>
                                    </li>
                                    <li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>

                            </nav>
                            <!-- END MAIN MENU -->

                        </div>
                    </div>
                </div>
            </div>

        </header>
        <div id="body">
            
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
         
            </div>

    </div>


    <footer id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="small-about widget-wrapper rs-mb">
                        <img src="~/Images/logo.png" alt="Lanka Bookin">
                        <address>
                            <strong>Lanka BookIn</strong><br />
                            643, Address 1, Address 2,
                            Address 3, Colombo, Sri Lanka
                        </address>
                        <p class="copy-right">&copy; 2015 <a href="#">LankaBookIn</a>. All Right Reserved</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper rs-mb">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <h2 class="widget-title">Customer Care</h2>
                                <ul class="small-menu">
                                    <li><a href="#" title="How to procces reservation?">Make reservation</a></li>
                                    <li><a href="#" title="FAQ">FAQ</a></li>
                                    <li><a href="#" title="Payment Options">Payment Options</a></li>
                                    <li><a href="#" title="Booking Tips">Booking Tips</a></li>
                                    <li><a href="#" title="Informaion">Informaion</a></li>
                                    <li><a href="#" title="Hotel Awards">Hotel Awards </a></li>
                                    <li><a href="#" title="Press Room">Press Room</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <h2 class="widget-title">Our Partners</h2>
                                <ul class="small-menu">
                                    <li><a href="#" title="Asia Rooms">Asia Rooms</a></li>
                                    <li><a href="#" title="Easy Booking">Easy Booking</a></li>
                                    <li><a href="#" title="Agoda">Agoda</a></li>
                                    <li><a href="#" title="Expedia">Expedia</a></li>
                                    <li><a href="#" title="TripAdvisor">TripAdvisor</a></li>
                                    <li><a href="#" title="Cheap Hotels">Cheap Hotels </a></li>
                                    <li><a href="#" title="Orbitz Travel">Orbitz Travel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget-wrapper">
                        <h2 class="widget-title">Subsribe to Our Newsletter</h2>
                        <div class="gap10"></div>
                        <div class="newsletter">
                            <form name="email-validation" id="email-validation" class="fixed-position" action="#" novalidate>
                                <input type="email" name="form-control" id="input-email" class="form-control" placeholder="Your Email Here" value="">
                                <button type="submit" class="btn btn-primary submit-button">Submit</button>
                            </form>
                        </div><!-- End newsletter -->
                        <h2 class="widget-title">Let's Socialize</h2>
                        <div class="social tooltips">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="icon-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="icon-pinterest"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><i class="icon-google-plus"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="icon-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="bottom-footer">
        <div class="container">
            <ul class="small-menu-inline">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">Elements</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <div class="text-center">
                <a class="totop"><i class="icon-angle-up"></i></a>
            </div>
        </div>
    </div>

    @*<footer id="footer">
        <div id="footer-top" class="container">
            <div class="row">
                <div class="block col-sm-4">
                    <a href="index.html"><img src="images/logo.png" alt="Cozy Logo" /></a>
                    <br><br>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                <div class="block col-sm-4">
                    <h3>Contact Info</h3>
                    <ul class="footer-contacts">
                        <li><i class="fa fa-map-marker"></i> No 25, Waters Edge, Battaramulla, Sri Lanka</li>
                        <li><i class="fa fa-phone"></i> 00351 123 456 789</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:email@realestate.com">email@realestate.com</a></li>
                    </ul>
                </div>
                <div class="block col-sm-4">
                    <h3>Helpful Links</h3>
                    <ul class="footer-links">
                        <li><a href="properties-list.html">All Properties Available</a></li>
                        <li><a href="agent-listing.html">Look for Sell</a></li>
                        <li><a href="agency-listing.html">Look for Buy</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <!-- BEGIN COPYRIGHT -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        &copy; @DateTime.Now.Year - lanka bookin - All rights reserved.

                        <!-- BEGIN SOCIAL NETWORKS -->
                        <ul class="social-networks">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        <!-- END SOCIAL NETWORKS -->

                    </div>
                </div>
            </div>
        </div>
        <!-- END COPYRIGHT -->

    </footer>*@
    <!-- END FOOTER -->
    </div>
    <!-- END WRAPPER -->
    <!-- Libs -->
    <script src="~/Scripts/common.js"></script>

    <script src="~/Scripts/chosen.jquery.min.js"></script>


    <script src="~/Scripts/bootstrap-checkbox.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="~/Scripts/infobox.min.js"></script>

    <!-- jQuery Revolution Slider -->
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Template Scripts -->
    <script src="~/Scripts/variables.js"></script>
    <script src="~/Scripts/scripts.js"></script>

    <!-- Agencies list -->
    <script src="~/Scripts/agencies.js"></script>

    <script type="text/javascript">
        (function ($) {
            "use strict";

            $(document).ready(function () {
                //Create agencies map with markers and populate dropdown agencies list.
                Cozy.agencyMap(agencies, "map_agency");
            });
        })(jQuery);




    </script>








@RenderSection("scripts", required: false)

        </body>
</html>
