﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lanka Booking</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/signin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/cozy-real-estate-font.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/fav_touch_icons/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Images/fav_touch_icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/fav_touch_icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/fav_touch_icons/apple-touch-icon-114x114.png" />

    <!--google font-->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Andika' rel='stylesheet' type='text/css'>


    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Revolution Slider CSS settings -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />

    <!-- Template CSS -->
    <link href="~/Content/style.css" type="text/css" rel="stylesheet" />


    <!-- Modernizr -->
    <script src="~/Scripts/modernizr-2.8.1.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")




</head>
<body>

    <div id="wrapper">

        <!-- BEGIN HEADER -->
        l
        <header id="header">
            <div id="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<ul id="top-info">
                                <li>Phone: 800-123-4567</li>
                                <li>Email: <a href="mailto:hello@yourcompany.com">hello@yourcompany.com</a></li>
                            </ul>-->

                            <ul id="top-buttons">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="index.html" class="nav-logo">
                                <img src="~/Images/logo.png" alt="Lanka Bookin" /></a>

                            <!-- BEGIN MAIN MENU -->
                            <nav class="navbar">
                                <button id="nav-mobile-btn"><i class="fa fa-bars"></i></button>

                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-hover="dropdown">About Us<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("About", "About", "Home")</li>


                                        </ul>
                                    </li>
                                    <li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>

                            </nav>
                            <!-- END MAIN MENU -->

                        </div>
                    </div>
                </div>
            </div>

        </header>


        <div id="body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        @RenderSection("featured", required: false)
                        <section class="content-wrapper main-content clear-fix">
                            @RenderBody()
                        </section>
                        <nav>
                            <ul id="menu1">
                                <li>@Html.ActionLink("Manage", "Manage", "Account")</li>
                                @if (User.IsInRole("Public"))
                                {
                                    <li>@Html.ActionLink("User WishList", "Index", "UserWishList")</li>
                                    <li>@Html.ActionLink("Booking History", "Index", "BookingRequest")</li>
                                }
                                @if (User.IsInRole("Internal"))
                                {
                                    <li>@Html.ActionLink("My Apartments", "Index", "Apartment")</li>
                                    <li>@Html.ActionLink("Update Available Dates", "Index", "RoomsBook")</li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <footer id="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="small-about widget-wrapper rs-mb">
                            <img src="~/Images/logo.png" alt="Lanka Bookin">
                            <address>
                                <strong>Lanka BookIn</strong><br />
                                643, Address 1, Address 2,
                                            Address 3, Colombo, Sri Lanka
                            </address>
                            <p class="copy-right">&copy; 2015 <a href="#">LankaBookIn</a>. All Right Reserved</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget-wrapper rs-mb">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h2 class="widget-title">Customer Care</h2>
                                    <ul class="small-menu">
                                        <li><a href="#" title="How to procces reservation?">Make reservation</a></li>
                                        <li><a href="#" title="FAQ">FAQ</a></li>
                                        <li><a href="#" title="Payment Options">Payment Options</a></li>
                                        <li><a href="#" title="Booking Tips">Booking Tips</a></li>
                                        <li><a href="#" title="Informaion">Informaion</a></li>
                                        <li><a href="#" title="Hotel Awards">Hotel Awards </a></li>
                                        <li><a href="#" title="Press Room">Press Room</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <h2 class="widget-title">Our Partners</h2>
                                    <ul class="small-menu">
                                        <li><a href="#" title="Asia Rooms">Asia Rooms</a></li>
                                        <li><a href="#" title="Easy Booking">Easy Booking</a></li>
                                        <li><a href="#" title="Agoda">Agoda</a></li>
                                        <li><a href="#" title="Expedia">Expedia</a></li>
                                        <li><a href="#" title="TripAdvisor">TripAdvisor</a></li>
                                        <li><a href="#" title="Cheap Hotels">Cheap Hotels </a></li>
                                        <li><a href="#" title="Orbitz Travel">Orbitz Travel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget-wrapper">
                            <h2 class="widget-title">Subsribe to Our Newsletter</h2>
                            <div class="gap10"></div>
                            <div class="newsletter">
                                <form name="email-validation" id="email-validation" class="fixed-position" action="#" novalidate>
                                    <input type="email" name="form-control" id="input-email" class="form-control" placeholder="Your Email Here" value="">
                                    <button type="submit" class="btn btn-primary submit-button">Submit</button>
                                </form>
                            </div>
                            <!-- End newsletter -->
                            <h2 class="widget-title">Let's Socialize</h2>
                            <div class="social tooltips">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="icon-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="icon-pinterest"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><i class="icon-google-plus"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="icon-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="bottom-footer">
            <div class="container">
                <ul class="small-menu-inline">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Elements</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <div class="text-center">
                    <a class="totop"><i class="icon-angle-up"></i></a>
                </div>
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
