﻿@model IEnumerable<LankaBookin.Models.Apartment>

@{
    ViewBag.Title = "Apartment list";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{       
   var grid = new WebGrid(source: Model,
                defaultSort: "Name",
                rowsPerPage: 10);
}

<h2>@ViewBag.Title</h2>
<div class="clear-fix">&nbsp;</div>
<p class="btn btn-primary btn-success link-c-n">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid table table-striped table-bordered",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("Name"),
            grid.Column("Star"),
            grid.Column("Rate"),
            grid.Column("Address1"),
            grid.Column("Address2"),
            grid.Column("Description"),
            grid.Column(header:"IsPerRoom?", format:@<text><input type="checkbox" checked="@item.IsPerRoom" disabled="disabled" /></text>),
            grid.Column("RoomCount"),
            grid.Column("Price"),
            grid.Column("MaxHeadCount"),
            grid.Column(header:"User Name", format:@<text><div>@(item.User.Name)</div></text>),
            grid.Column(header:"City", format:@<text><div>@(item.City.CityName)</div></text>),
            grid.Column(header: "", format: item => new HtmlString(Html.ActionLink("Details", "Details", new { id = item.Id } ).ToString())),
            grid.Column(header: "", format: item => new HtmlString(Html.ActionLink("Edit", "Edit", new { id = item.Id } ).ToString())),
            grid.Column(header: "",format: (item) => (User.IsInRole("SuperAdmin")) ? new HtmlString(Html.ActionLink("Delete", "Delete", new { id = item.Id } ).ToString()) : Html.Raw(""))
        )
    )
</div>

