﻿@model LankaBookin.Models.BookingRequest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BookingRequest</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApartmentId, "Apartment")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ApartmentId",string.Empty)
            @Html.ValidationMessageFor(model => model.ApartmentId)
        </div>

        <div id="Rooms">
            <div class="editor-label">
                @Html.LabelFor(model => model.RoomsBooked,"Number of Rooms")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.RoomsBooked,new { id  = "RoomsBook" })
                @Html.ValidationMessageFor(model => model.RoomsBooked)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price,"Amount")
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.Price,new {id="price" })
             @Html.ValidationMessageFor(model => model.Price)
         </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckIn)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CheckIn,new {id="checkIn" })
            @Html.ValidationMessageFor(model => model.CheckIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckOut)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CheckOut,new {id="checkOut" })
            @Html.ValidationMessageFor(model => model.CheckOut)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

      <script>
          $(function () {

              $("#ApartmentId").change(function () {
                  $.getJSON("/AdminBookingRequest/IsPerRoom", { apartmentId: $("#ApartmentId").val() },
                      function (data, status) {
                          if (!Boolean(data.isPerRoom)) {
                              $("#Rooms").hide();
                              $("#RoomsBook").val(0);
                              $("#price").val(data.price);
                          }
                          else {
                              $("#Rooms").show();
                              $("#price").val("");
                          }
                      }
                  );
              });

              $('#RoomsBook').on('input propertychange paste', function () {
                  $.getJSON("/AdminBookingRequest/CalculatePrice", { apartmentId: $("#ApartmentId").val(), roomCount: $("#RoomsBook").val() },
                    function (data, status) {
                        $("#price").val(data.price);
                    }
                );
              });

              $("#checkIn").datepicker();

              $("#checkOut").datepicker();

          });

        </script>

<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
