﻿@model LankaBookin.Models.BookingRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BookingRequest</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CheckOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckOut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomsBooked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomsBooked)
    </div>

</fieldset>
<p>
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
    <div class="btn btn-default b-l">@Html.ActionLink("Back to List", "Index")</div>
</p>
