﻿@model IEnumerable<LankaBookin.Models.BookingRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="grid table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomsBooked)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomsBooked)
            </td>

            <td>
                @*            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) *@
                <div class="btn btn btn-info link-c-n">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>

                                @if (User.IsInRole("SuperAdmin"))
                {
                                    <div class="btn btn-danger link-c-n">
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </div>
                                    }

</td>
        </tr>
    }

</table>
