﻿@model LankaBookin.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">

                <div class="login col-sm-5 col-sm-offset-1">
                    <h1 class="center">Log in to your Account</h1>

                    <div class="col-sm-12">
                        <div class="form-style">

                            <div id="loginForm">
                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="clear-fix"></div>
                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)

                                    <div class="clear-fix"></div>

                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password)
                                    @Html.ValidationMessageFor(m => m.Password)

                                    <div class="clear-fix"></div>



                                    <div class="check">@Html.CheckBoxFor(m => m.RememberMe)</div>
                                    <div class="remember">@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</div>


                                    <div class="clear-fix"></div>
                                    <input type="submit" value="Log in" class="form-control" />


                                    <p>
                                        @Html.ActionLink("Register", "Register") if you don't have an account.
                                    </p>
                                }

                            </div>


                        </div>


                    </div>
                </div>


                <div class="login-info col-sm-4 col-sm-offset-1">
                    <h1>Why should you create an account?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis purus sed justo egestas dapibus. Etiam vel sagittis nisi. Curabitur ac egestas lorem. Sed ut odio iaculis, interdum magna non, mattis dolor. Vestibulum id dignissim elit. Cras ut scelerisque dolor.</p>

                    <h1>Sell you property with us.</h1>
                    <p>Vestibulum rhoncus consequat aliquet. Mauris varius posuere mattis. Duis vitae molestie arcu. Curabitur sollicitudin, velit ut eleifend auctor, nibh orci pharetra risus, a malesuada nisi felis vel turpis. Aliquam fermentum nulla felis, sed molestie libero porttitor in. Vestibulum aliquet eu purus quis pellentesque. Nam eget lacus dolor.</p>
                </div>
            </div>
        </div>
    </div>
</div>


