﻿@model LankaBookin.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}
<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">

            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>

                <p class="message-success">@ViewBag.StatusMessage</p>

                <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

                @*<section id="externalLogins">
                        @Html.Action("RemoveExternalLogins")

                        <h3>Add an external login</h3>
                        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                    </section>*@

                </div>
            </div>
        </

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
