﻿@model LankaBookin.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<!-- BEGIN CONTENT WRAPPER -->
<div class="content">
    <div class="container">
        <div class="row">
            
            <!-- BEGIN MAIN CONTENT -->
            <div class="main col-sm-12">
                
                <div class="login col-sm-5 col-sm-offset-1">

                    <h1 class="center">Create New Account</h1>


                    <div class="col-sm-12">
                        <div class="form-style">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()

                                <fieldset>

                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName)

                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password)

                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword)

                                    @Html.LabelFor(m => m.Name)
                                    @Html.TextBoxFor(m => m.Name)

                                    @Html.LabelFor(m => m.Address)
                                    @Html.TextBoxFor(m => m.Address)

                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email)

                                    @Html.LabelFor(m => m.Phone)
                                    @Html.TextBoxFor(m => m.Phone)

                                    <label>Select the user type</label>
                                    @{
                                List<SelectListItem> selectList = new List<SelectListItem>();
                                foreach (var c in ViewBag.UserRoles)
                                {
                                    SelectListItem i = new SelectListItem();
                                    i.Text = c.RoleName.ToString();
                                    i.Value = c.RoleId.ToString();
                                    selectList.Add(i);
                                }

                                @Html.DropDownList("UserRoles", new SelectList(selectList, "Value", "Text"));
                                    }



                                    <input type="submit" value="Register" />
                                </fieldset>
                            }


                        </div>
                    </div>

                </div>
                <div class="login-info col-sm-4 col-sm-offset-1">
                    <h1>Why should you create an account?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis purus sed justo egestas dapibus. Etiam vel sagittis nisi. Curabitur ac egestas lorem. Sed ut odio iaculis, interdum magna non, mattis dolor. Vestibulum id dignissim elit. Cras ut scelerisque dolor.</p>

                    <h1>Sell you property with us.</h1>
                    <p>Vestibulum rhoncus consequat aliquet. Mauris varius posuere mattis. Duis vitae molestie arcu. Curabitur sollicitudin, velit ut eleifend auctor, nibh orci pharetra risus, a malesuada nisi felis vel turpis. Aliquam fermentum nulla felis, sed molestie libero porttitor in. Vestibulum aliquet eu purus quis pellentesque. Nam eget lacus dolor.</p>
                </div>
            </div>	
                </div>

            </div>

        </div>

    </div>

                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
