﻿@model LankaBookin.Models.Category

@{
    ViewBag.Title = "Category Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Details</h2>

<fieldset>
    <legend>Lb_Category</legend>

    <img src="@Url.Content(String.Format("~/Images/Category/{0}.jpg",Model.CategoryName))" width="100" height="100" />

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.Label("Tours")
    </div>

    @foreach (var item in ViewBag.Tours)
    {
        <div class="display-field">
            @Html.ActionLink((string)@item.TourName, "Details","Tour", new { id=item.Id },null)
            
        </div>
    }
   
</fieldset>
<p>
    <div class="btn btn-primary link-c-n">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </div>
    <div class="btn btn-default b-l">
        @Html.ActionLink("Back to List", "Index")
        </div>
</p>
