﻿@model LankaBookin.Models.BookingRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BookingRequest</legend>

        <div class="editor-label">
            @Html.DisplayFor(model => model.Apartment.Name)
        </div>

        @if(Model.Apartment.IsPerRoom){
            <div id="Rooms">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RoomsBooked,"Number of Rooms")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.RoomsBooked,new { id  = "RoomsBook" })
                    @Html.ValidationMessageFor(model => model.RoomsBooked)
                </div>
            </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.Price,"Amount")
        </div>
        <div class="editor-field">
             @Html.TextBoxFor(model => model.Price,new {id="price" })
             @Html.ValidationMessageFor(model => model.Price)
         </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckIn)
            @Html.ValidationMessageFor(model => model.CheckIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckOut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckOut)
            @Html.ValidationMessageFor(model => model.CheckOut)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div class="btn btn-default b-l">
    @Html.ActionLink("Back to List", "Index")
</div>

      <script>
          $(function () {

              $('#RoomsBook').on('input propertychange paste', function () {
                  var price = $("#RoomsBook").val();
                  var modelprice = @Html.Raw(Json.Encode(Model.Apartment.Price))
                  $('#price').val(price * modelprice);
              });

              $("#checkIn").datepicker();

              $("#checkOut").datepicker();

          });

        </script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
